.plate {
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

textarea.form-control {
    max-width: 100%;
}

.no-resize {
    resize: none;
}

.book-picture {
    max-width: 100%;
}

h4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}